{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <h1>Artist index</h1>
<br><br>
    <table class="table table-bordered mb-0">
        <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Musicstyle</th>
            <th>Birthdate</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for artist in artist %}
            <tr>
                <td>{{ artist.id }}</td>
                <td>{{ artist.Name }}</td>
                <td>{{ artist.Surname }}</td>
                <td>{{ artist.Musicstyle }}</td>
                <td>{{ artist.Birthdate ? artist.Birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ artist.Description }}</td>

                <td>
                    <a href="{{ path('artist_show', {'id': artist.id}) }}">show</a>
                    {% if app.user %}
                    {% if app.user.isSuper == "1" %}
                    |
                <a href="{{ path('artist_edit', {'id': artist.id}) }}"> edit</a></td>
                {% endif %}
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>
    <a href="{{ path('artist_new') }}">Create new</a> <br />
    <a href="{{ path('home') }}">Back to homepage</a>
{% endblock %}
