{% extends 'base.html.twig' %}

{% block title %}Search result{% endblock %}

{% block body %}
    <h1>Search results</h1>

    <table class="table">

        <tr>
            <th>Id</th>
            <th>Naam</th>
            <th>Duration</th>
            <th>Album</th>
            <th>Artiest</th>

        </tr>
        <tbody>
        <tr>
            {% for number in results %}
        <td>{{ number.id }}</td>
        <td>{{ number.name }}</td>
        <td>{{ number.duration|date('h:i:s') }}</td>
        <td>{{ number.album.name }}</td>
        <td>{{ number.album.artist.name }} {{ number.album.artist.surname }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <a href="{{ path('home') }}">Back to home</a>



{% endblock %}