{% extends 'base.html.twig' %}

{% block title %}Albums index{% endblock %}

{% block body %}
    <h1>Albums index</h1>
<br><br>
    <table class="table table-bordered mb-0">
        <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Naam</th>
            <th>Artiest naam</th>
            <th>Numbers</th>
            <th>Read</th>
            {% if app.user.isSuper == "1" %}
            <th>Admin actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>

        {% for album in album %}
            <tr>
                <td>{{ album.id }}</td>
                <td>{{ album.name }}</td>
                <td>{{ album.artist.naam}} {{ album.artist.achternaam  }}</td>
                <td>
                    {#                {% for number in number %}#}
                    {#                {% if number.albumID == album.id %}#}
                    {#                <td>{{ number.naam }}</td>#}
                    {#                {% endif %}#}
                    {#                {% endfor %}#}
                </td>



                <td><a href="{{ path('album_show', {'id': album.id}) }}">show</a></td>
                    {% if app.user.isSuper == "1" %}


                <td><a href="{{ path('album_edit', {'id': album.id}) }}">edit</a></td>

                {% endif %}

            </tr>

        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('album_new') }}">Create new</a> <br/> <br />
    <a href="{{ path('home') }}">Back to homepage</a>
{% endblock %}