{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

{% block body %}
    <h1>Albums</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ album.id }}</td>
        </tr>
        <tr>
            <th>Naam</th>
            <td>{{ album.name }}</td>
        </tr>
        <tr>
            <th>Artiest naam</th>
            <td>{{ album.artist.naam }} {{ album.artist.achternaam }}</td>
        </tr>
{#        <tr>#}
{#            <th>Nummers</th>#}
{#            {% for nummer in album.nummerCollectie %}#}
{#                <td>{{ nummer.naam }}</td>#}
{#            {% endfor %}#}
{#        </tr>#}
        </tbody>
    </table>

    <a href="{{ path('album_index') }}">back to list</a>


{% endblock %}