{% extends 'base.html.twig' %}

{% block title %}{{ 'Login'|trans }}{% endblock %}

{% block body %}
    <h1>Login</h1>
    {% if error %}
        <div style="color:red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('security_login') }}" method="post">
        <input type="email" name="_username" value="{{ last_username }}" class="form-control" placeholder="{{ 'E-mail'|trans }}">
        <input type="password" name="_password" class="form-control" placeholder="{{ 'Password'|trans }}">
        <input type="submit" value="{{ 'Login'|trans }}">
    </form>

    <a href="{{ path('security_forgot_password') }}">{{ 'Forgot password'|trans }}</a>
    <a href="{{ path('security_register') }}">{{ 'Create account'|trans }}</a>
{% endblock %}
